<section id="onboarding-page">
    <div class="main-content">
        {{!-- App Name --}}
        <div class="app-logo-placeholder">
            <h1 id="welcome-message">Welcome to</h1>
            <h1 id="app-name">BagBuddy</h1>
        </div>

        {{!-- Progress Bar --}}
        <div class="progress-bar-placeholder">
            <ul>
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        {{!-- GIF Placeholder --}}
        <div class="gif-placeholder">
            This is GIF Placeholder
        </div>
    </div>
    
    <div class="main-footer">
        <a class="register-link">Create an account</a>
        <a class="login-link">Login</a>
    </div>

</section>